@font-face {
    font-family: 'Caviar Dreams';
    src: url(CaviarDreams.ttf);
    font-weight: normal;
    font-style: normal;
}

body {
      margin: 0;
      font-family: 'Caviar Dreams', sans-serif;
      background: black;
      color: black;
      display: flex;
      flex-direction: column;
      align-items: center;
    justify-content: center;
    }

    .container {
      width: 100%;
        height: 100%;
      max-width: 420px;
      padding: 8px;
      box-sizing: border-box;
      align-items: center;
        align-content: center;
        
    }

    /* Header */
    .header {
      background: linear-gradient(0deg, #161b24, #222831);
        color: gold;
      text-align: center;
      padding: 2px 0px 8px 0px;
      font-size: 3vh;
      font-weight: bold;
      margin-bottom: 10px;
      border-radius: 5px;
        border: 4px ridge #161b24;
        text-shadow: 0px 0px 2px black, 0px 0px 5px gold;
        height: 3vh;
        align-items: center;
    }

    /* Viewer */
    .viewer {
      background: #161b24;
      padding: 1px;
      border-radius: 5px;
      margin-bottom: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
       border: 4px ridge #161b24; 
    }

    .art-frame {
      width: 100%;
      height: 55vh;
      background: #161b24; 
      overflow: hidden;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .art-frame img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }

    /* Thumbnails */
    .thumbnails {
      background: linear-gradient(0deg, #161b24, #222831);
      padding: 6px 10px;
      border-radius: 5px;
      margin-bottom: 13px;
      overflow-x: auto;
      white-space: nowrap;
        border: 4px ridge #161b24; 
    }

    .thumbnail {
      
      height: 10vh;
        max-width: 90px;
      background: linear-gradient(0deg, #161b24, #222831);
      display: inline-block;
        object-fit: contain;
      margin-right: 12px;
      cursor: pointer;
  transition: 0.2s;
    }
/* ACTIVE STATE */
.thumbnail.active {
  outline: 2px solid gold;
  transform: scale(1.05);
}

    /* Category buttons */
    .categories {
  display: flex;
  gap: 15px;
  margin: 0px 10px 2.5vh 10px;
}

/* Hide real radio */
.categories input[type="radio"] {
  display: none;
}

/* Style labels as buttons */
.categories label {
  flex: 1;
  text-align: center;
    font-weight: bold;
  padding: 7px 5px;
    font-size: 2vh;
  background: #EEEEEE;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.2s;
}
.categories label:active {
  transform: scale(0.95);
}
/* Selected state */
.categories input[type="radio"]:checked + label {
  background: #393E46;
  color: white;
}

    /* Bottom buttons */
    .bottom-buttons {
      display: flex;
      justify-content: space-between;
      gap: 15px;
        margin: 0px 5%;  
    }

    .bottom-buttons button {
      flex: 1;
      padding: 7px 10px;
      font-size: 2.5vh;
      border-radius: 4px;
      background: linear-gradient(0deg, gold, yellow );
      text-shadow: 2px 2px 4px black;
      font-family: 'Caviar Dreams';
      font-weight: bold;
    }

.bottom-buttons button:active {
  transform: scale(0.95);
}

#puzzleBtn{
    background: linear-gradient(0deg, #372616, #592525);
    color: white;
    text-shadow: 2px 2px 4px black;
}

#musicBtn{
    background: linear-gradient(0deg, #161b24, #222831);
    text-shadow: 2px 2px 4px black;
    color: white;   
}

#version{
    color: beige;
    text-align: center;
    
}
.info-screen {
  width: 100%;
    height: 100%;
  color: white;
  background: black;
  padding: 0px 8px;
  box-sizing: border-box;
  overflow-y: auto;
  font-weight: bold;
  text-align: center;
}

/* CARD */
.card {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 2s;
}

/* FLIP STATE */
.card.flip {
  transform: rotateY(180deg);
    transform-style: preserve-3d;
}

/* SIDES */
.front, .back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  top: 0;
  left: 0;
}

/* FRONT IMAGE */
.front img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  transition: transform 0.3s ease;  
}

/* BACK SIDE */
.back {
  transform: rotateY(180deg);
  transform-style: preserve-3d;
  background: #d3d3d3 url("clean-textile.png");
  background-repeat: repeat;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
.back h2 {
    margin: 10px 0px;
}
.back h3 {
    margin: 10px 0px;
}
.back p {
    width: 90%;
    font-weight: bold;
    text-align: justify;
}
.welcome-screen {
  position: fixed;
  max-width: 420px;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.welcome-content img {
  width: 100%;
  max-width: 420px;
  align-items: center;
}

.welcome-screen.fade-out {
  opacity: 0;
  transition: opacity 0.9s ease;
}

.puzzle {
  width: 100%;
  height: 57vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2px;
}

.tile {
  background-size: 300% 300%;
  border-radius: 4px;
}

.empty {
  background: #000;
}

.thumb {
  flex-shrink: 0;
  transition: 0.2s;
    height: 10vh;
    max-width: 90px;
    background: linear-gradient(0deg, #161b24, #222831);
    display: inline-block;
    object-fit: contain;
    margin-right: 12px;
    cursor: pointer;
  transition: 0.2s;
}

.thumb.active {
  opacity: 1;
  outline: 2px solid yellow;
}

.win-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 135%;
  background: rgba(0,0,0,0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  animation: fadeIn 0.4s ease;
}

.win-box {
  background: rgba(0,0,0,0.8);
  padding: 10px 20px;
  border-radius: 10px;
  text-align: center;
  color: white;
  animation: scaleUp 0.3s ease;
}

.win-box h2 {
  margin-bottom: 15px;
}

.win-box button {
  margin: 5px;
  padding: 10px 15px;
  border-radius: 8px;
  border: none;
  background: orange;
  cursor: pointer;
}

/* Animations */
@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes scaleUp {
  from { transform: scale(0.8); }
  to { transform: scale(1); }
}